[submodule "SABUtils"]
	path = SABUtils
	url = https://github.com/towel42-com/SABUtils
	branch = trunk
[submodule "T42-CMakeUtils"]
	path = T42-CMakeUtils
	url = https://github.com/towel42-com/T42-CMakeUtils
	branch = trunk
[submodule "T42-MathJaxQt6"]
	path = T42-MathJaxQt6
	url = https://github.com/towel42-com/T42-MathJaxQt6
	branch = trunk
